<table>
    <thead>
        <tr>
            <th>Thumbnail</th>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Request</th>
        </tr>
    </thead>
{% for book in query %}
    <tr>
        <td>
            <div id="{{book.isbn}}thumbnail"></div>
        </td>
        <td>
            <div id="{{book.isbn}}title"></div>
        </td>
        <td>
            <div id="{{book.isbn}}author"></div>
        </td>
        <td>
            {{book.isbn}}
        </td>
        <td>
            <a href="/{{book.book_id}}/listing">Request</a>
        </td>
    </tr>
    <script>
        function handleResponse(response) {
          var item = response.items[0];
          document.getElementById("{{book.isbn}}thumbnail").innerHTML += "<img src=" + item.volumeInfo.imageLinks.thumbnail + ">";
          document.getElementById("{{book.isbn}}title").innerHTML += item.volumeInfo.title;
          document.getElementById("{{book.isbn}}author").innerHTML += item.volumeInfo.authors;
      }
      </script>
      <script src="https://www.googleapis.com/books/v1/volumes?q=isbn:{{book.isbn}}&callback=handleResponse"></script>
{% endfor %}

</table>