{% extends 'base.html' %}
{% block content %}
{{super()}}
<div class="container paper">
    <header>
        <div id="title"></div>
        <div id="author"></div>
    </header>
    
    <div id="thumbnail"></div>
    <a href="/request_book/{{book.book_id}}">Request!</a>
</div>
    <script>
      function handleResponse(response) {
        var item = response.items[0];
        // in production code, item.text should have the HTML entities escaped.
        document.getElementById("thumbnail").innerHTML += "<img src=" + item.volumeInfo.imageLinks.thumbnail + ">";
        document.getElementById("title").innerHTML += "<h3>" + item.volumeInfo.title + "</h3>";
        document.getElementById("author").innerHTML +="<h4>" + item.volumeInfo.authors + "</h4>";
      }
    </script>
    <script src="https://www.googleapis.com/books/v1/volumes?q=isbn:{{book.isbn}}&callback=handleResponse"></script>

{% endblock %}
<!--{% for book in query %}
<p>{{book.isbn}}</p>
{% endfor %}-->