{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
<!-- Include header -->

{% block title %} User Profile{% endblock %}

{% block content %}
{{ super() }}
<div class="container paper">
    <h1> Welcome {{ current_user.username }}!</h1>
    <div> You are currently in possession of {{ current_user.credits }}x Stardust✨!</div>
    <div> In total, you have made contributions totaling {{ totalcredit }}x Stardust✨;
    thus the Bookshelf hath bestowed upon thyself the title of: <br> 

    <strong>
    {% if current_user.totalcredit < 1 %}
        💼 initiate — let's make some magic! 
    {% elif current_user.totalcredit < 3 %}
        👨‍🎓 apprentice — your future seems promising...
    {% elif current_user.totalcredit < 6 %}
        🧝 elf librarian — the Bookshelf has deemed you worthy of a role in its maintenence.
    {% elif current_user.totalcredit < 10 %}
        🧙🏾 master sourcerer — regarded as masterful in the magicks of resourceful learning.
    {% else %}
        💀 skuller — your pursuit of knowledge has surpassed the test of life and time.

    {% endif %}
    </strong>    
    </div>
    <br>

    <div> You may change your password <a href={{url_for("change_password")}}>here</a>.</div>
    <div> You may logout <a href={{url_for("logout")}}>here</a>.</div>
    <div> Back home <a href={{url_for("index")}}>here</a>!</div>

    <div> You may view your currently listed books below. </div>
</div>

    
<div id="bookshelfHolder">
    <div class="parent">
      <img class="bkshlf" src={{url_for('.static', filename='bookshelf.png')}} />

    </div>
</div>



{% for book in owned_books %} 
    {# <div> {{book.book_id}} : on i =  {{ loop.index }} <img src={{book.png}}> </div>  LOOP INDEX IS 1 INDEXED. #}

    {% if (loop.index - 1) % 9 == 0 %}
        
        <script>
        console.log( bkrsrc );
        var bookshelf = document.createElement("div");
        bookshelf.classList.add("parent");
        let bkshlf = document.createElement("img");
        bkshlf.classList.add("bkshlf");
        bkshlf.src = {{ bkrsrc }};
        bookshelf.appendChild(bkshlf);
        document.getElementById("bookshelfHolder").appendChild(bookshelf);   
        </script>
        
    {% endif %}
    
    <script>
        function handleResponse(response) {
            var item = response.items[0];
            var bookElem = document.createElement("div");
            bookElem.classList.add("bk" + {{(loop.index - 1) % 9}});
            var img = document.createElement("img");
            img.src = item.volumeInfo.imageLinks.thumbnail;
            img.style = "height: 33%";
            img.addEventListener("click", ()=> {
                location.href = '../' + {{book.book_id}} + '/listing';
                //location.href = '/request_book/' + {{book.book_id}};
            })
            bookElem.appendChild(img);
            bookElem.appendChild(document.createElement("br"));
            bookElem.appendChild(document.createElement("br"));
            var bookshelves = document.getElementsByClassName("parent");
            bookshelves[bookshelves.length - 1].appendChild(bookElem);

        }
    </script>
    <script src="https://www.googleapis.com/books/v1/volumes?q=isbn:{{book.isbn}}&callback=handleResponse"></script>
{% endfor %}



{% endblock %}
