{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
<!-- Include header -->

{% block title %} User Profile{% endblock %}

{% block content %}
<div class="container">
    Inside the test html!
    <h1> Welcome {{ current_user.username }}</h1>
        <p>Total Credits: {{credit}}</p>
    {% if sells or buys %}
        {% if sells %}
        <h2>Books Donated</h2>
        <table style="width:100%">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>Author</th>
                    <th>Send To</th>
                    <th>State</th>
                </tr>
            </thead>
            {% for book in sells %}
            <tr>
                <td>
                    <div id="{{book.title}}title"></div>
                </td>
                <td>
                    {{book.isbn}}
                </td>
                <td>
                    <div id="{{book.author}}"></div>
                </td>
                <td>
                    <div id="{{book.address_to}}"></div>
                </td>
                <td>
                {% if book.complete %}
                    Done
                    {% else %}
                    In transist
                {% endif %}
                </td>
            </tr>
            {% endfor %}
            </table>

        {% elif buys %}
        <table style="width:100%">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>Author</th>
                    <th>Recieved From</th>
                    <th>State</th>
                </tr>
            </thead>
            {% for book in buys %}
            <tr>
                <td>
                    <div id="{{book.title}}title"></div>
                </td>
                <td>
                    {{book.isbn}}
                </td>
                <td>
                    <div id="{{book.author}}"></div>
                </td>
                <td>
                    <div id="{{book.address_from}}"></div>
                </td>
                <td>
                {% if book.complete %}
                    Done
                    {% else %}
                    In transist
                {% endif %}
                </td>
            </tr>
            {% endfor %}
            </table>

    {% else %}
    <p> No Record Found </p>
    <p>Save Paper - Donate book / <a href="{{url_for("listings")}}"></a> Get Book</p>
    {% endif %}
</div>
{% endblock %}