{% extends 'base.html' %}

{% block content %}
{{super()}}
<!--<div class="container paper">
    
</div>-->
<div id="price"></div>
<script>
    function handleResponse(response) {
      var item = 8.00+(parseFloat(item.rows.elements.distance.value)/150000);
      document.getElementById("price").innerHTML += <h3>"Estimated shipping: $" + item</h3>;
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins={{addrfrom}}&destinations={{addrto}}&key={{key}}&callback=handleResponse"></script>

{% endblock %}
